.forgotPassword {
  background-image: linear-gradient(
      to bottom,
      rgba(162, 162, 162, 0.637),
      rgba(36, 35, 35, 0.807)
    ),
    url("../images/cover-picture.jpg");
  background-position: center;
  background-size: 100% auto;
  height: 100vh;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-blend-mode: screen;
  box-sizing: border-box;
}

.forgotPasswordForm {
  perspective: 150rem;
  height: 80%;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.899);

  box-sizing: border-box;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(52, 52, 52, 0.359) 0px 25px 35px,
    rgba(0, 0, 0, 0.537) 0px -12px 15px, rgba(1, 1, 1, 0.548) 0px 8px 12px,
    rgba(53, 53, 53, 0.558) 0px 24px 26px, rgba(59, 59, 59, 0.574) 0px -6px 10px;

  animation: moveLikeABook 0.5s ease-in;
  animation-fill-mode: backwards;
}

.forgotPasswordForm .inputBlock {
  width: 100%;
}
.forgotPasswordForm .inputBlock input,
.forgotPasswordForm .inputBlock .btn {
  display: block;
  width: 70%;
  margin: 2rem auto;
}
.forgotPasswordForm .inputBlock .btn {
  margin-top: 0rem;
}
@keyframes moveLikeABook {
  0% {
    transform: rotateY(-180deg);
  }
  100% {
    transform: rotateY(0);
  }
}
