.updatePassword {
  height: 92vh;
  background-image: linear-gradient(
      to bottom,
      rgb(100, 100, 100),
      rgba(36, 35, 35, 0.807)
    ),
    url("../images/cover-picture.jpg");
  background-position: center;
  background-size: 100% auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-blend-mode: screen;
  position: relative;
  padding-top: 6rem;
  padding-bottom: 2rem;
}

.updatePasswordForm {
  box-shadow: rgba(52, 52, 52, 0.359) 0px 25px 35px,
    rgba(0, 0, 0, 0.39) 0px -24px 30px, rgba(1, 1, 1, 0.412) 0px 8px 12px,
    rgba(53, 53, 53, 0.493) 0px 24px 26px, rgba(59, 59, 59, 0.389) 0px -6px 10px;
  background-color: rgba(0, 0, 0, 0.826);
  height: 80%;
  width: 30%;
  box-sizing: border-box;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .updatePasswordForm {
    width: 100%;
  }

  .updatePasswordInputs {
    padding: 4vw 8vw;
    margin: 2vmax;
    font: 100 1.2rem "Roboto", sans-serif;
    margin: 4vw;
  }
}
.inputContainerPassword {
  margin: 5rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.inputContainerPassword input {
  width: 90%;
}
.inputContainerPassword .btn {
  width: 90%;
  margin-top: 3rem !important;
}
